[package]
name = "screen-13"
version = "0.1.8"
authors = ["john wells <john@attackgoat.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/attackgoat/screen-13"
homepage = "https://github.com/attackgoat/screen-13"
documentation = "https://docs.rs/screen-13"
keywords = ["gamedev", "vulkan", "metal", "directx", "webgl"]
categories = ["game-development", "multimedia::images", "rendering::engine"]
description = """
An easy-to-use 2D/3D rendering engine in the spirit of QBasic.
"""

[features]
default = ["blend-modes", "deferred-3d", "forward-3d", "mask-modes", "matte-modes"]
auto-cull = []
blend-modes = []
debug-names = []
deferred-3d = []
forward-3d = []
low-power = []
mask-modes = []
matte-modes = []
multi-monitor = []
xr = []

[dependencies]
app_dirs = "1.2"

# TODO: https://github.com/orium/archery/pull/5 waiting on release
a_r_c_h_e_r_y = "0.4"

bincode = "1.3" # TODO: Maybe replace with rkyv which is faster
bmfont = "0.3"
brotli = "3.3"
byteorder = "1.4"
gfx-hal = { git = "https://github.com/gfx-rs/gfx", branch = "staging" }
glam = { version = "0.12", features = ["serde"] }
image = "0.23"
num-traits = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
snap = "1.0"
toml = "0.5"
typenum = "1.12"

# Debug deps below: https://github.com/rust-lang/cargo/issues/7634
log = "0.4"
num-format = "0.4.0"
pretty_env_logger = "0.4"

# TODO: Baking deps here https://github.com/rust-lang/cargo/issues/1982 maybe use features and
# [[bin]] required features?
gltf = "0.15"

[[bench]]
name = "my_benchmark"
harness = false

[build-dependencies]
genmesh = "0.6"
glam = "0.12"
lazy_static = "1.4"

[target.'cfg(not(target_arch = "wasm32"))'.build-dependencies]
shaderc = "0.7"

[dev-dependencies]
criterion = "0.3"
hecs = "0.3"
paste = "1.0"
pretty_env_logger = "0.4"
rand = "0.8"

[package.metadata.docs.rs]
features = [
    "blend-modes",
    "deferred-3d",
    "forward-3d",
    "mask-modes",
    "matte-modes",
    "xr",
]

# This package is really slow in debug mode; but we don't need the checks here
[profile.dev.package.image]
opt-level = 3

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
shaderc = "0.7"
winit = { version = "0.24" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2"
console_error_panic_hook = "0.1"
console_log = "0.2"
gfx-impl = { git = "https://github.com/gfx-rs/gfx", branch = "staging", package = "gfx-backend-gl" }
web-sys = { version = "0.3", features = [
    "console",
    "Document",
    "Element",
    "HtmlElement",
    "Node",
    "Window",
] }
winit = { version = "0.24", features = ["web-sys"] }

[target.'cfg(any(target_os = "freebsd", target_os = "dragonfly", target_os = "linux", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
gfx-impl = { git = "https://github.com/gfx-rs/gfx", branch = "staging", package = "gfx-backend-vulkan" }

# [target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
# gfx-impl = { version = "0.6", package = "gfx-backend-metal" }

# [target.'cfg(target_os = "windows")'.dependencies]
# gfx-impl = { version = "0.6", package = "gfx-backend-dx11" }
