[package]
name = "screen-13"
version = "0.3.2"
authors = ["John Wells <john@attackgoat.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/attackgoat/screen-13"
homepage = "https://github.com/attackgoat/screen-13"
documentation = "https://docs.rs/screen-13"
keywords = ["gamedev", "vulkan"]
categories = ["game-development", "multimedia::images", "rendering::engine"]
description = "An easy-to-use Vulkan rendering engine in the spirit of QBasic."

[dependencies]
archery = "0.4"
ash = "0.37"
ash-window = "0.10"
derive_builder = "0.11"
gpu-allocator = "0.18"
log = "0.4"
ordered-float = "3.0"
parking_lot = "0.12"
paste = "1.0"
raw-window-handle = "0.4"
spirq = "0.5"
vk-sync = { version = "0.4.0", package = "vk-sync-fork" }  # // SEE: https://github.com/gwihlidal/vk-sync-rs/pull/4 -> https://github.com/expenses/vk-sync-rs
winit = { version = "0.26" }

[target.'cfg(target_os = "macos")'.dependencies]
ash-molten = "0.12"

[dev-dependencies]
anyhow = "1.0"
bmfont = { version = "0.3", default-features = false }
bytemuck = "1.9"
glam = "0.20"
image = "0.24"
inline-spirv = "0.1"
log = "0.4"
polyhedron-ops = "0.2"
pretty_env_logger = "0.4"
rand = "0.8"
screen-13-fx = { path = "contrib/screen-13-fx" }
screen-13-imgui = { path = "contrib/screen-13-imgui" }
screen-13-egui = { path = "contrib/screen-13-egui" }
egui = "0.18.0"
tobj = "3.2"

